<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="assets/img/logo_fmf.png"
  />
  <span>Evaluación Desarrollador Jr.</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">
  <div fxLayout="column">
    <div fxFlex="100">
      <strong>Bienvenido a tu prueba de Desarrollador Jr. de la Federación Mexicana de Fútbol.</strong>
    </div>
    <div fxFlex="100" class="pt-10">
      Estas son las actividades que debes realizar:
    </div>
    <div fxFlex="100" class="pt-10">
      <ol>
        <li>
          Utilizar la <strong>rama</strong> "Test-Jr-Marzo-2021"
        </li>
        <li>
          Instalar <strong>Angular Material</strong>
        </li>
        <li>
          Crear un formulario con <strong>Angular Material</strong> de datos generales con la siguiente información:
          <div fxLayout="column">
            <div fxFlex="100" class="pt-10">
              <ul>
                <li>Nombre</li>
                <li>Apellido Paterno</li>
                <li>Apellido Materno</li>
                <li>Fecha de Nacimiento (Con un campo de selección de fecha)</li>
                <li>Género *</li>
                <li>Nacionalidad *</li>
                <li>Club de Fútbol *</li>
                <li>R.F.C. **</li>
                <li>Ocupación</li>
                <li>Botón para enviar información</li>
              </ul>
            </div>
            
            <div fxFlex="100" class="pt-10">
              * Estas opciones deben alimentarse de manera dinámica utilizando los <strong>JSON</strong> que se encuentran en la carpeta <strong>"data"</strong>, también se requiere crear los modelos de datos y guardarlos en la carpeta <strong>"models"</strong>
            </div>
            <div fxFlex="100" class="pt-10">
              ** Este campo solo debe aparecer si el registro que se captura es de alguien mayor a 18 años, en caso que lo sea, validar la estructura del R.F.C. antes de enviar la información
            </div>
          </div>
        </li>
        <li>
          <div fxLayout="column">
            <div fxFlex="100">
              Utilizando la información capturada en el formulario, mostrar una ficha similar a la siguiente (<strong>Se tomará en cuenta el diseño implementado</strong>):
            </div>
            <div fxFlex="100">
              <img src="assets/img/id-example.png">
            </div>
          </div>
        </li>
        <li>
          Debajo de la ficha, colocar un botón de <strong>imprimir</strong> y, utilizando nuevamente los datos del formulario, desplegar un PDF.
        </li>
      </ol>
    </div>
    
  </div>
  
</div>
